<h1>Listing ruolos</h1>

<table>
  <thead>
    <tr>
      <th>Ruolo</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ruolos.each do |ruolo| %>
      <tr>
        <td><%= ruolo.ruolo %></td>
        <td><%= ruolo.user %></td>
        <td><%= link_to 'Show', ruolo %></td>
        <td><%= link_to 'Edit', edit_ruolo_path(ruolo) %></td>
        <td><%= link_to 'Destroy', ruolo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ruolo', new_ruolo_path %>
