<p id="notice"><%= notice %></p>

<p>
  <strong>Ruolo:</strong>
  <%= @ruolo.ruolo %>
</p>

<p>
  <strong>User:</strong>
  <%= @ruolo.user %>
</p>

<%= link_to 'Edit', edit_ruolo_path(@ruolo) %> |
<%= link_to 'Back', ruolos_path %>
